<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title Page-->
    <title>Survey Form | Survey System</title>
    <!-- Icons font CSS-->
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/main.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

</head>

<body>
<!-- NAVIGATION BAR -->
<nav class="navbar navbar-expand-lg navbar-dark shadow-md">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Survey System</a>
        <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNavResponsive"
                aria-controls="navbarNavResponsive"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse flex-grow-0" id="navbarNavResponsive">
            <ul class="navbar-nav text-right">
                <li class="nav-item">
                    <a class="nav-link" href="/formulario">Survey Form</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Management
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/user">Create User</a>
                        <a class="dropdown-item" href="/surveydata">Survey Form  <span class="badge badge-pill badge-primary">Data</span></a>
                    </div>
                </li>



            </ul>
        </div>
    </div>
</nav>

<div class="page-wrapper p-t-45 p-b-50">
    <div class="wrapper wrapper--w790">
        <div class="card card-5">
            <div class="card-heading">
                <h2 class="title">Survey Form</h2>
            </div>
            <div class="card-body">
                <form id="surveyForm" action="" method="post">
                    <div class="form-row">
                        <div class="name">Name</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="text" name="name" id="name" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Sector</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="text" name="sector" id="sector" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name">Grade</div>
                        <div class="value">
                            <div class="input-group">
                                <div class="rs-select2 js-select-simple select--no-search">
                                    <select name="grade" id="grade" required>
                                        <option disabled="disabled" selected="selected">Choose option</option>
                                        <option value="Basico">Basico</option>
                                        <option value="Medio">Medio</option>
                                        <option value="Universitario">Universitario</option>
                                        <option value="Postgrado">Postgrado</option>
                                        <option value="Doctorado">Doctorado</option>
                                    </select>
                                    <div class="select-dropdown"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group d-flex align-items-center justify-content-center mt-4">
                        <button type="submit" class="btn btn--blue rounded submit p-3 px-5">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron container-fluid">
    <div class="col-12 text-center mt-n3" style="background-color: #0E0E0E !important;border-radius: 8px;">
        <h3 class="heading">Survey Form Saved-<span class="badge badge-primary">Local</span></h3>
        <div class="heading-underline mt-n3"></div>
    </div>
    <div class="d-flex align-items-center justify-content-center mt-4">
        <span id="online" class="badge badge-success">ONLINE!</span>
        <span id="offline" class="badge badge-danger">OFFLINE!</span>
    </div>

    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100">
                    <table id="tableLocalForm">
                        <thead>
                        <tr class="table100-head">
                            <th class="column1">Name</th>
                            <th class="column2">Sector</th>
                            <th class="column3">Grade</th>
                            <th class="column3">Date</th>
                            <th class="column2">Edit</th>
                            <th class="column2">Delete</th>
                        </tr>
                        </thead>
                        <tbody id="tbodyLocalForm">
                            <!-- Dinamically -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="form-group d-flex align-items-center justify-content-center mt-4">
            <button id="btnSyncData" type="button" class="btn btn--blue rounded submit p-3 px-5" >Sync Data</button>
        </div>
    </div>
</div>



<!-- Jquery JS-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<!-- Vendor JS-->
<script src="vendor/select2/select2.min.js"></script>
<script src="vendor/datepicker/moment.min.js"></script>
<script src="vendor/datepicker/daterangepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/geolocator/2.1.5/geolocator.min.js" integrity="sha512-R0ksqyRZYwP5ngAjS9KwXAPh4H0OiesjRspjvDn5NcgLeSqRWX+JYb792Aw0yuRKl9lDx3S9g+g/fr+DFgtpyg==" crossorigin="anonymous"></script>

<!-- Main JS-->
<script src="js/global.js"></script>
<script src="js/form.js"></script>
<script src="js/main.js"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->